<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>FinancePeer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'js/sign.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
        <style type="text/css">
            table,th,tr,td{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% csrf_token %}
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
               <a href="">
                    <strong style="font-size: 30px">Finance Peer</strong>
                </a>
                <span class="right">
                    <a href="{%url 'index'%}">
                        <strong>Logout</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Hello   "<span>{{request.session.username}}</span>"</h1>
				<!-- <nav class="codrops-demos">
					<span>Click <strong>"Join us"</strong> to see the form switch</span>
					<a href="index.html">Demo 1</a>
					<a href="index2.html" class="current-demo">Demo 2</a>
					<a href="index3.html">Demo 3</a>
				</nav> -->
            </header>
            <section>				
                <div id="container_demo" >
                    <div id="wrapper">
                        <input type="file" id="file_upload" value="Import" accept="application/JSON" onchange="validateFileExtension();"/>
                        <button id="myBtn" onclick="upload()">Upload</button>
                        <div id="login_success" role="alert"></div>
                        <br>
                        <center><p id="rows_count">No.of Rows: {{count}}</p> </center>               
                        <table border="2" style="text-align: center;padding: auto;">
                        <tr style="background-color: #1d3c41;color: white">
                            <th>User</th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Body</th>
                        </tr>
                        {% for item in query_results %}
                        <tr> 
                            <td>{{ item.userId }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.body }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                    
                </div>  
            </section>
        </div>

        <script type="text/javascript">
            let file = document.getElementById("file_upload");
            function validateFileExtension() {
            var fileName = file.value,
              idxDot = fileName.lastIndexOf(".") + 1,
              extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
              if (extFile=="json"){
                document.getElementById("myBtn").disabled = false;
              }else{
                alert("Only JSON files are allowed!");
                file.value = "";  // Reset the input so no files are uploaded
                document.getElementById("myBtn").disabled = true;
              }
         } 
        </script>
    </body>

</html>